.swiper-item {
    width: 100%;
    height: 100%;
    background-color: skyblue;

    .slick-slider{
        height: 100%;
        .slick-list{
        height: 100%;

        }
    }

    .ant-carousel {
        height: 100%;

        .swiper-item-box {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }


}